<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910274479798-4tlodio4h2nv1cuk0h45e2fg70dspceg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910274479798-4tlodio4h2nv1cuk0h45e2fg70dspceg</string>
	<key>API_KEY</key>
	<string>AIzaSyBt4cRjoFXXrK23nuALbbY1jx3wRDARp_c</string>
	<key>GCM_SENDER_ID</key>
	<string>910274479798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moattar.PlanBetter</string>
	<key>PROJECT_ID</key>
	<string>partyapp-3307a</string>
	<key>STORAGE_BUCKET</key>
	<string>partyapp-3307a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910274479798:ios:ea7ba70d2c6ab891858817</string>
	<key>DATABASE_URL</key>
	<string>https://partyapp-3307a.firebaseio.com</string>
</dict>
</plist>